name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
env:
  NEWS_API_KEY: ${{ secrets.NEWS_API_KEY }}

jobs:

  flutter_test:
    name: Run flutter test and analyze
    runs-on: ubuntu-latest
     
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.0.5'
      - run: flutter pub get
      - run: |
          touch lib/api_key.dart
          echo $NEWS_API_KEY >> lib/api_key.dart
          cat  lib/api_key.dart
      - run: flutter analyze
      - run: flutter test
      
  build_appbundle:
    name: Build flutter (Android)
    needs: [flutter_test]
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.0.5'
      - run: flutter pub get
      - run: flutter clean
      - run: flutter build appbundle
